;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Jun 20 13:50:41 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("directory"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/personal/" "d:/sandbox/clojure/" "d:/sandbox/clojurescript" "d:/sandbox/clojure" "d:/abine.txt" "d:/workspace/tigers/app/scripts/collections/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "c:/Users/wbrick/AppData/Roaming/.emacs.d/personal/personal.el"
  "personal.el"
  'emacs-lisp-mode
  '(prelude-mode global-auto-revert-mode smartparens-mode volatile-highlights-mode projectile-mode anzu-mode global-whitespace-mode eldoc-mode undo-tree-mode diff-hl-mode flx-ido-mode company-mode flycheck-mode my-keys-minor-mode guru-mode elisp-slime-nav-mode rainbow-delimiters-mode rainbow-mode)
  627
  '(245 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "workspace"
  'dired-mode
  '(prelude-mode global-auto-revert-mode volatile-highlights-mode projectile-mode anzu-mode global-whitespace-mode flx-ido-mode company-mode my-keys-minor-mode diff-hl-dired-mode)
  124
  '(nil nil)
  t
  '("d:/workspace/")
  nil)

